<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.buaa.springmvc.dao.MessageDao">

	<insert id="insert" parameterType="com.buaa.springmvc.dao.Msg">
		INSERT message (author, content, date, isprivate)
		VALUES (#{author}, #{content}, #{date},#{isprivate})
	</insert>

	<select id="getAll" resultType="com.buaa.springmvc.dao.Msg">
		SELECT * FROM message ORDER BY id DESC
	</select>

	<select id="get5" resultType="com.buaa.springmvc.dao.Msg">
		SELECT * FROM message ORDER BY id DESC limit 0,5
	</select>
	<delete id="delete" parameterType="int">
		DELETE FROM message WHERE id=#{id}
	</delete>

	<select id="getAllPrivate" resultType="com.buaa.springmvc.dao.Msg">
		SELECT * FROM message where isprivate=1 ORDER BY id DESC
	</select>

	<select id="getAllPublic" resultType="com.buaa.springmvc.dao.Msg">
		SELECT * FROM message where isprivate=0 ORDER BY id DESC
	</select>

</mapper>